
.main_bar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(164, 196, 196);
}

.logo{
    color: black;
    font-weight: 600;
    margin-left: 10px;
}

.right_side ul{
    display: flex;
    justify-content: space-evenly;
}

.nav_bar1{
    color: black;
    text-decoration: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 20px;
}

.nav_bar1:hover{
    color: red;
}

.nav_bar2:hover{
    color: red;
}

.nav_bar2{
    color: black;
    text-decoration: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 20px;
}

.right_side ul li{
    color: aliceblue;
}

.links{
    color: aliceblue;
    list-style-type: none;
    justify-content: space-around;
}

.nav_bar{
    color: antiquewhite;
    text-decoration: none;
}